# Virtual environment
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Logs and temp files
*.log
*.tmp

# AWS credentials (bezpieczne)
credentials
config

# Terraform leftovers (opcjonalnie)
*.tfstate
*.tfstate.*
.terraform/
